<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" beStrictAboutTestsThatDoNotTestAnything="true" convertDeprecationsToExceptions="true">
  <testsuites>
    <testsuite name="mendwell-connector">
      <directory prefix="test-" suffix=".php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
